.posts-wrapper {
  width: 100%;
  padding: 1rem;
  background-color: #1f2937;
  border-radius: 8px;

  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 1.5rem;
    max-width: 600px;
  }

  @media (min-width: 1024px) {
    padding: 2rem;
    max-width: 800px;
  }

  @media (min-width: 1440px) {
    max-width: 900px;
  }
}

.posts-container {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
